
@media screen and (max-width : 1100px) {
    .about-contant{
        padding-bottom: 80px;
        padding-top: 60px;
    }
    .about-contant p{
        height: 125px;
        overflow-y: auto;
        margin-bottom: 30px;
    }
    .expert-single.text-center{
        margin-bottom: 50px;
    }
    #expertice h2{
        font-size: 25px;
    }
    .portfolio-hading{
        font-size: 25px;
    }
};
@media screen and (max-width : 450px) {
    #expertice h2{
        font-size: 15px;
    }
    .portfolio-hading{
        font-size: 15px;
    }
}
